* {
	margin: 0;
	padding: 0;
	color: white;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-flow: row nowrap;
}

canvas {
	width: 100%;
	height: 100%;
}

.canvas-workspace {
	width: 100%;
}

.sidebar {
	background-color: midnightblue;
	width: 200px;
}

