* {
	margin: 0;
	padding: 0;
	color: white;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-flow: row nowrap;
}

canvas {
	width: 100%;
	height: 100%;
}

.parameter-element {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	min-height: 50px;
}

.sidebar {
	background-color: midnightblue;
	width: 20%;
}

.canvas-workspace {
	width: 80%;
}



